<StackLayout>
  <TextField hint="First Name"></TextField>
  <TextField hint="Last Name"></TextField>
  <TextField hint="Company (Optional)"></TextField>
  <TextField hint="Email Address" keyboardType="email"
    autocorrect="false" autocapitalizationType="none"></TextField>
  <TextField hint="Postal Code"></TextField>

  <Button text="I agree"></Button>
  <Button text="Sign Up"></Button>
  <Button text="Clear"></Button>
  <Button text="Hidden button" (tap)="openLogin()"></Button>
</StackLayout>
